* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Raleway";
}

body {
    overflow: hidden;
    user-select: none;
}

.nav {            //SETTINGS NAV MAX. 850PX !
    background-color: #5B84B1FF;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .title h1{
        display: none;
    }

    .title::before{
        content: "JS";
        font-weight: 600;
        font-size: 2.5rem;
        color: yellow;
    }

    .title::after{
        content: "Counter";
        font-weight: 600;
        font-size: 2.5rem;
        color: white;
    }

    .icons {
        a {
            text-decoration: none;
            cursor: pointer;
            color: white;
            font-size: 2.5rem;
            padding: 10px;
        }
    }

    //MEDIA QUERIES SETTINGS NAV MIN. 850PX
    @media only screen and (min-width: 850px) {
        justify-content: space-between;

        .title::before{
            display: none;
        }
    
        .title::after{
            display: none;
        }


        .title h1{
            display: block;
            font-weight: 600;
            font-size: 3rem;
            color: white;
            padding: 10px;
        }

        .icons {
            a {
                font-size: 3rem;
                padding: 20px;
            }
        }
    }
}

.parents {            //SETTINGS PARENTS MAX. 400PX !
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    flex-direction: column;

    img{
        z-index: -10;
        width: 500%;
        position: fixed;
        bottom: 0%;
        left: -10%;
    }

    //MEDIA QUERIES SETTINGS PARENTS MIN. 500PX
    @media only screen and (min-width: 500px) {
        img{
            width: 225%;
        }
    }

    //MEDIA QUERIES SETTINGS PARENTS MIN. 850PX
    @media only screen and (min-width: 850px) {
        img{
            left: 0%;
            width: 135%;
        }
    }

    .children {           //SETTINGS CHILDREN MAX. 500PX !
        display: flex;
        flex-direction: column;

        .add-one {
            height: 115px;
            width: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 3rem;
            background-color: #5B84B1FF;
            border-bottom-right-radius: 30vh;
            border-bottom-left-radius: 50vh;
            color: white;
            user-select: none;
            cursor: pointer;
        }

        .add-one:active{
            font-size: 2.3rem;
        }

        .number-display {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 130px;
            font-weight: 900;
            font-size: 3rem;
            font-weight: bold;
            background-color: #FC766AFF;
            color: white;
            user-select: none;

            .alert{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #FC766AFF;
                color: white;
                height: 15vh;
                width: 15vh;
            
                i{
                    font-size: 25px;
                }
                p{
                    font-size: 20px;
                }
            }
        }

        .subtract-one {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 3rem;
            width: 130px;
            height: 115px;
            background-color: #5B84B1FF;
            border-top-right-radius: 50vh;
            border-top-left-radius: 30vh;
            color: white;
            user-select: none;
            cursor: pointer;
        }

        .subtract-one:active{
            font-size: 2.3rem;
        }

        //MEDIA QUERIES SETTINGS CHILDREN MIN. 500PX
        @media only screen and (min-width: 501px) {
            flex-direction: row;

            .add-one {
                height: 150px;
                width: 100px;
                font-size: 4rem;
                border-top-right-radius: 10vh;
                border-bottom-left-radius: 0vh;
            }

            .add-one:active{
                font-size: 2.8rem;
            }

            .number-display {
                height: 150px;
                width: 310px;
                font-size: 5rem;

                .alert{
                    width: 30vh;
                    i{
                        font-size: 30px;
                    }
                    p{
                        font-size: 25px;
                    }
                }
            }

            .subtract-one {
                height: 150px;
                width: 100px;
                font-size: 4rem;
                border-top-right-radius: 0vh;
                border-bottom-left-radius: 10vh;
            }

            .subtract-one:active{
                font-size: 2.8rem;
            }

        }

        //MEDIA QUERIES SETTINGS CHILDREN MIN. 850PX
        @media only screen and (min-width: 850px) {
            .add-one {
                height: 200px;
                width: 150px;
                border-top-right-radius: 10vh;
                border-bottom-left-radius: 0vh;
                font-size: 5rem;
            }

            .add-one:active{
                font-size: 4.8rem;
            }

            .number-display {
                height: 200px;
                width: 400px;
                font-size: 6rem;

                .alert{
                    width: 40vh;
                    height: 20vh;
                    i{
                        font-size: 40px;
                    }
                    p{
                        font-size: 35px;
                    }
                }
            }

            .subtract-one {
                height: 200px;
                width: 150px;
                border-top-right-radius: 0vh;
                border-bottom-left-radius: 10vh;
                font-size: 5rem;
            }

            .subtract-one:active{
                font-size: 4.8rem;
            }
        }
    
    }
}

.button {              //SETTINGS BUTTON MAX. 500PX !
    display: flex;

    .auto {
        font-weight: 400;
        position: absolute;
        background-color: #FC766AFF;
        bottom: 5%;
        left: 10%;
        font-size: 1rem;
        padding: 10px;
        border-radius: 5vh;
        user-select: none;
        cursor: pointer;
        color: white;
    }

    .canc {
        font-weight: 400;
        position: absolute;
        background-color: #FC766AFF;
        bottom: 5%;
        right: 10%;
        font-size: 1rem;
        padding: 10px;
        border-radius: 5vh;
        user-select: none;
        cursor: pointer;
        color: white;

    }

    //MEDIA QUERIES SETTINGS BUTTON MIN. 500PX
    @media only screen and (min-width: 501px) {
        display: flex;

        .auto {
            bottom: 5%;
            left: 20%;
            font-size: 1.5rem;
        }

        .canc {
            bottom: 5%;
            right: 20%;
            font-size: 1.5rem;
        }
    }
}